@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
        src: url("./assets/fonts/poppins-v19-latin-600.woff") format("woff");
      }
@font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 800;
        src: url("./assets/fonts/poppins-v19-latin-800.woff") format("woff");
      }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        src: local('Montserrat-ExtraBold'), url("./assets/fonts/Montserrat-ExtraBold.woff") format('woff');
        }
        @font-face {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          src: local('Montserrat-Regular'), url("./assets/fonts/Montserrat-Regular.woff") format('woff');
          }
          @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            src: local('Montserrat-SemiBold'), url("./assets/fonts/Montserrat-SemiBold.woff") format('woff');
            }
            @font-face {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 700;
              src: local('Montserrat-Bold'), url("./assets/fonts/Montserrat-Bold.woff") format('woff');
              }
@font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        src: url("./assets/fonts/poppins-v19-latin-regular.woff") format("woff");
      }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
        src: url("./assets/fonts/poppins-v19-latin-500.woff") format("woff");
      }
