@font-face {
        font-family: "poppins-600";
        src: url("./assets/fonts/poppins-600.ttf") format("truetype");
      }
@font-face {
        font-family: "poppins-800";
        src: url("./assets/fonts/poppins-800.ttf") format("truetype");
      }
@font-face {
        font-family: "montserrat-800";
        src: url("./assets/fonts/montserrat-800.ttf") format("truetype");
      }
@font-face {
        font-family: "montserrat-regular";
        src: url("./assets/fonts/montserrat-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "poppins-regular";
        src: url("./assets/fonts/poppins-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "poppins-500";
        src: url("./assets/fonts/poppins-500.ttf") format("truetype");
      }
